body {
  margin: 0;
  background: rgba(44, 83, 100, .5)
}

header {
  background: #0F2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {
  font-family: 'Roboto', sans-serif;
}

.logo {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-display: 40px;
}

header input {
  font-size: 20px;
  margin: 20px 10px;
  border: #0F2027 1px transparent;
  border-radius: 6px;
}

.card {
  margin: 2rem;
  padding: 0;
  border-radius: 6px;
  box-shadow: 6px 10px 50px -9px rgba(0, 0, 0, 0.75);
}

.card .card-title {
  padding: .2rem;
  font-weight: bold;
  background: #2C5364;
  color: #FFF;
  border-radius: 6px 6px 0 0;
}

.card .card-content {
  background: #eee;
  border: rgb(15, 32, 39) 1px solid;
  border-radius: 0 0 6px 6px;
  border-top: transparent;
  margin: 0;
  padding: .3rem .2rem;
  text-align: justify;
}